.Q{
  float: left;
}


.results{
  display:flex;
}


.minions{
  float:left
}

#value{
  /*margin-left:80px;*/
}
#used_policy{
  margin-left:0px;
}

#pages {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    position:absolute;
    top:1600px;
}


#pages td, #pages th {
    border: 1px solid #ddd;
    padding: 8px;
}

#pages tr:nth-child(even){background-color: #f2f2f2;}

#pages tr:hover {background-color: #ddd;}

#pages th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.btn2{
  position: absolute;
  cursor:pointer;
  margin:0 6px 10px 6px;
  height:25px;
  width:12%;
  text-align:center;
  border:solid #F1F1F1 1px;
  border-color:black;
  color:black;
  text-decoration:none;
  font-size:15px;
  text-transform: uppercase;
  font-weight: 400;
}

#update_results{
  right:44%;
  top:42%;

}

#update_reward_button{
  right:44%;
  top:21.5%;
}

#clv{
  position:absolute;
  float:left;
  /*top:540px;*/
  left:100px;
  /*display:inline-block;*/
  outline:green dotted thick;
  width:1200px;
  height:210px;

}

#N{
  position:absolute;
  top:10px;
  left:400px;
  font-size: x-large;
}
#multiply1{
    top: 10px;
    left: 500px;
    position: absolute;
    font-size: x-large;
}
#similarity{
  position: absolute;
  left: 600px;
  top: 10px;
  font-size: x-large;
}

#multiply2{
    top: 10px;
    left: 850px;
    position: absolute;
    font-size: x-large;
}

#V1{
    position: absolute;
    top: 10px;
    left: 900px;
    font-size: x-large;
}

#equal{
  position:absolute;
  top:40px;
  left:1000px;
  font-size: x-large;
}


#rhs{
    position: absolute;
    top: 40px;
    left: 1100px;
    font-size:x-large
}

#lhs{
  top:40px;
  font-size:x-large;
  position:absolute;
}
