<!DOCTYPE html>
<html>

<head>
    <title>User Behavior Simulation</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <!-- https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" charset="utf-8"> -->

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->

    <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.0.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>

    <script src="http://d3js.org/d3.v3.min.js"></script>

    <script>
    // Set the global configs to synchronous
    $.ajaxSetup({
        async: false
    });

    $.ajax({
      dataType:"json",
      url :"./static/parameters.json",
      success:function(json){
        PARAMETERS=json;
        console.log(json)
      },
      cache:false
    })


      MAX_ATSOP_ROWS = PARAMETERS['MAX_ATSOP_ROWS'];
      MAX_SD_COLS = PARAMETERS['MAX_SD_COLS'];
      ATSOP_GAP= PARAMETERS["ATSOP_GAP"]//seconds

      ACTIONS  = PARAMETERS['ACTIONS']

      ACTION_PROB = PARAMETERS['USED_POLICY']

      REWARDS = PARAMETERS['REACTION_REWARD']

    // Set the global configs to synchronous
    $.ajaxSetup({
        async: true
    });

    </script>

    <script type="text/javascript"  src="{{ url_for('static', filename='checkCookie.js') }}"></script>
    <script type="text/javascript"  src="{{ url_for('static', filename='takeActions.js') }}"></script>
    <script type="text/javascript"  src="{{ url_for('static', filename='stateTracker.js') }}"></script>
    <script type="text/javascript"  src="{{ url_for('static', filename='tracker.js') }}"></script>

</head>

<body>
  <select id="options">
    {% for item in categories%}
    <option> {{item}}</option>
    {% endfor %}
  </select>

  <div id="all-news">
    {% for article in news['Business']['value'] %}
    <div class="single-carousel-element">
      <a  href="{{article['url']}}" target="reader">
        <img src="{{article['image']['thumbnail']['contentUrl']}}" class= "single-article-image">
        <p class='single-article-description'>
          {{article['description']}}
        </p>
      </a>
    </div>
    {% endfor %}
  </div>
  <div id="frame">
    <iframe id="actualIframe" src=" " name="reader" onerror="error" allowfullscreen>
    </iframe>
  </div>

  <div id="question" style="display:none; cursor: default">
          <h2>Would you like to continue?.</h2>
          <input type="button" id="yes" value="Skip" />
          <input type="button" id="no" value="End Session" />
          <input type="button" id="random" value="Stumble Upon" />
  </div>

  <div id="dot"></div>
  <div id="path"></div>
  <div id='labels'></div>
  <div id='titles'></div>
  <input type="button" id="restart" value="End Session"/>



    <div id = "deadpool">
    </div>


</body>

  <script type="text/javascript">

    FEEDBACK= []
    ATSOP = 0
    SD = 1
    CELL = 1
    WIDTH = 50 // for grid in px
    cnt=0; // for path_dots


    // check if he is a returning user
    checkCookie();
    trackClicks(); // attach an event listener to <a> tags

    // display news
    $.get("http://0.0.0.0:9090/getNews" , function(data){
      URL = "http://0.0.0.0:9090/loadHome"
        news = data;
      }, "json")

    // attach news to various options from the drop down menu
    $("#options").change(function() {

      category = $(this).find("option:selected").text().slice(1,100); // to remove the extra space from the start
      URL = category
      $('#all-news').empty();
      str =""
      articles = news[category].value

      for (x in articles){
        str = str + '<div class ="single-carousel-element">' + '<a href='+articles[x]["url"]+' target="reader">' +
                '<img src=' + articles[x]["image"]["thumbnail"]["contentUrl"] + ' class="single-article-image">' +
                '<p class="single-article-description">' + articles[x]["description"] + '</p></a></div></div>'

      }
      $("#all-news").html(str)

      trackClicks();

    });

    createGrid(MAX_ATSOP_ROWS, MAX_SD_COLS, WIDTH)
    putLabelsOnGrid(MAX_ATSOP_ROWS, MAX_SD_COLS,ATSOP_GAP, WIDTH)
    putTitlesOnGrid('Session Depth', 'Time Spent')

    counter = activateCounter();

  </script>

</html>
