<!DOCTYPE html>
<html>
<head>
    <title>User Behavior Simulation</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <script type="text/javascript"  src="{{ url_for('static', filename='checkCookie.js') }}"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>

</head>

<body>
  <form id ='source'>
    <input type="radio" name="source" value="direct" checked> Direct - {{direct}} <br>
    <input type="radio" name="source" value="search"> Search - {{search}}<br>
    <input type="radio" name="source" value="social"> Social - {{social}}
  </form>
  <button id="start-button" onClick="loadHome()" type="button">Start Session</button>
  <script type="text/javascript">
  checkCookie();

    function loadHome() {
      SOURCE = $('input[name=source]:checked').val();

      $.ajax({
        url: '/initiateSession',
        contentType: 'application/json; charset=UTF-8',
        data:JSON.stringify({source:SOURCE}),
        type:'POST',
        success:function(data){
          window.location.href = 'http://0.0.0.0:9090/loadHome'
        }
      });
      // window.location.href = 'http://0.0.0.0:9090/loadHome'
    };

  </script>

  <div id="dot"></div>
  <div id="path"></div>
  <div id='labels'></div>
  <div id='titles'></div>
</body>

</html>
